body {
  font-family: Courier, sans-serif;
  background-color: steelblue;
  color: white;
}

h1 {
color: goldenrod;
  align: center;
}

img{
  align: center;
  width: 50%;
  border: 3px solid purple;
  /*
  border-style
  border- size
  border-color
  */
}
